button {
	cursor: pointer;
	user-select: none;
	padding: 0 1.5rem;
	text-decoration: none !important;
	white-space: nowrap;
	vertical-align: bottom;
	border: none;
	font-family: inherit;
	font-size: 1rem;
}

.button {
}
